<section data-ng-controller="HomeController">
	<div ng-if="currentStep == 1" class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-8">
		<h4 class="text-center title-color">
			Breaking ice while breaking bread.	
		</h4>
		<br>
		<p></p>
		<form ng-submit="$parent.addInterest()"  class="signin form-horizontal">
			<fieldset>
				<div class="form-group text-center">
					<p>What are your interests?</p>
					<input id="input-one" type="text" class="form-control shorter" ng-model="$parent.tempInterest" ng-maxlength="16" style="width: 400px; display: inline-block;" placeholder="Press Enter after each interest..." 
					typeahead="state for state in states | filter:$viewValue | limitTo:8">
				</div>
			</fieldset>
		</form>
		<br>
        <div class="text-center form-group">
            <button ng-click="$parent.checkInterests()" class="btn flat-green">Next</button>
        </div>
        <br>
        <table class="table text-center">
            <tr ng-repeat="interest in credentials.interests">
                <td>{{interest}}</td>
            </tr>
        </table>
	</div>
	<div ng-if="currentStep == 2" class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6 high">
		<h3 class="text-center title-color">
			Final step!
		</h3>
		<br>
		<div class="signin form-horizontal text-center">
			<fieldset>
				<div class="form-group">
					<p>What's your name?</p>
					<input id="input-two" type="text" required class="form-control" ng-model="$parent.credentials.name">
				</div>
				<div class="form-group">
					<p>And your email?</p>
					<input id="input-three" type="email" required class="form-control" ng-model="$parent.credentials.email" ng-pattern="/@columbia.edu$/">
				</div>
				<br>
				<div class="text-center form-group">
					<button ng-click="$parent.postUser()" class="btn flat-green">Match</button>
				</div>
			</fieldset>
		</div>
	</div>
	<div ng-if="currentStep == 3" class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6">
		<h2 class="text-center title-color">
			You're done!
		</h2>
		<br>
		<p class="text-center">You will be notified as soon as a match is available. :)</p>
		<br><br>
	</div>
</section>

