<section data-ng-controller="HomeController">
	<br><br><br><br><br><br><br><br><br><br><br><br>
	<div ng-show="currentStep == 1" class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<div class="signin form-horizontal">
			<fieldset>
				<div class="form-group">
					<label>What are your interests?</label>
					<input type="text" required class="form-control" ng-model="tempInterest">
				</div>
				<div class="text-center form-group">
					<button ng-click="credentials.interests.push(tempInterest); tempInterest = ''" class="btn btn-large btn-primary">Add</button>
				</div>
				<div class="text-center form-group">
					<button ng-click="currentStep = 2" class="btn btn-large btn-primary">Next</button>
				</div>
			</fieldset>
		</div>
	</div>
	<div ng-show="currentStep == 2" class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<div class="signin form-horizontal">
			<fieldset>
				<div class="form-group">
					<label>Your Name</label>
					<input type="text" required class="form-control" ng-model="credentials.name">
				</div>
				<div class="form-group">
					<label>Your Email Address</label>
					<input type="email" required class="form-control" ng-model="credentials.email">
				</div>
				<div class="text-center form-group">
					<button ng-click="postUser(); currentStep = 3" class="btn btn-large btn-primary">Next</button>
				</div>
			</fieldset>
		</div>
	</div>
	<div ng-show="currentStep == 3" class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<label>You will be notified as soon as a match is successful. :)</label>
	</div>
</section>
