.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}

body {
	background-color: #f3f5f9;
}

section .container {
	background-color: #f3f5f9;
	width: 850px;
	padding-top: 30px;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #5e6573;
	font-size: 24px;
	letter-spacing: 0px;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}

.title-color {
	color: #3260c7;
	font-size: 36px;
}

.flat-green {
	background-color: #8dcd33;
	color: white;
	border-radius: 0;
	width: 200px;
	height: 50px;
	font-size: 26px;
}

.flat-green:hover {
	background-color: #ABF345;
	color: white;
}

.narrower {
	width: 300px;
}

.ng-enter {
	-webkit-transition:all linear 0.5s;
	transition:all linear 0.5s;
	opacity: 0;
}

.ng-enter.ng-enter-active {
	opacity: 1;
}

